<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>CT | Home</title>
</head>
<body>
    <nav>
        <div class="navbar w-full h-[50px] shadow-xl">
            <div class="brand justify-center flex">
                <h1 class="text-3xl font-bold">Creative.Tech</h1>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

</body>
</html>